.windows-container {
    display: flex;
    max-width: 1300px;
    justify-content: center;
    padding: 20px;
    margin: 0 auto;
}

.component-container {
     max-width: 1200px;
     padding: 20px;
     border: 1px solid #C0C0C0;
     background-color: white;
     margin: 15px auto;
}

.component {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-family: Trebuchet MS;
}

.component-img img {
    object-fit: contain;
    width: 40px;
    display: block;
}

.component-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.create-pc-button-container {
    position: fixed;
    top: 90px;
    right: 170px;
}

@media (max-width: 768px) {
  .create-pc-button-container {
    top: auto;
    bottom: 20px;
    right: 20px;
  }
}

@media (max-width: 480px) {
  .component {
    font-size: 14px;
  }

  .component-img img {
    width: 30px;
  }
}