.banner {
  position: sticky;
  top: 0;
  background-image: url('../image/banner.png');
  background-size: cover;
  border: 3px solid #0831D9;
  border-radius: 3px;
  height: 50px;
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
  padding: 0.45rem;
}

.banner-content {
  height: inherit;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 60px;
  width: auto;
}

.logo img {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 8px 20px;
  background-color: #0831D9;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  font-family: Trebuchet MS;
  transition: all 0.3s ease;
  border: 1px solid #fff;
}

.btn:hover {
  background-color: #0625a8;
  transform: translateY(-2px);
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.btn:active {
  transform: translateY(0);
}

.windows-container {
    display: flex;
    max-width: 1290px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 30px 20px;
    margin: 0 auto;
}

.info-card {
    display: flex;
    gap: 30px;
}

.info-image {
    display: flex;
}

.info-text {
    font-size: 18px;
    font-family: Trebuchet MS;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

@media (max-width: 768px) {
  .banner {
    height: auto;
    max-width: 740px;
    padding: 0.3rem;
  }

  .btn {
    padding: 6px 15px;
    font-size: 12px;
  }

  .logo {
    height: 45px;
  }

  .buttons {
    gap: 10px;
  }

  .window {
    width: 750px !important;
  }

  .windows-container {
    gap: 20px;
    padding: 40px 15px;
  }

  .info-card {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .info-image {
    justify-content: center;
    align-items: center;
    width: 100%;
    order: 2;
  }

  .info-image img {
    max-width: 350px;
    justify-content: center
  }

  .info-text {
    font-size: 16px;
    padding: 8px;
    order: 1;
  }

   .info-text h2{
    margin: 17px 0px;
  }
}

@media (max-width: 480px) {
  .banner {
    max-width: 450px;
    padding: 0.4rem;
  }

  .banner-content {
    gap: 12px;
  }

  .btn {
    padding: 4px 10px;
    font-size: 12px;
  }

  .logo {
    height: 45px;
  }

  .buttons {
    gap: 8px;
  }

  .windows-container {
    gap: 12px;
    padding: 25px 10px;
  }

  .info-image {
    display: none;
  }

   .window {
    width: 450px !important;
  }
}