<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Конфигуратор ПК</title>
    <link rel="icon" href="static/image/logo_mini.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/create-pc.css">
    <link rel="stylesheet" href="https://unpkg.com/xp.css">
</head>
<body>
    <div class="background">
        <div class="banner">
            <div class="banner-content">
             <div class="logo">
                <img src="/static/image/logo.png" alt="Логотип">
            </div>
            <div class="buttons">
                <a href="/main" class="btn">Главная страница</a>
                <a href="/personal-account" class="btn">Личный кабинет</a>
            </div>
            </div>
        </div>
        <div class="windows-container">
            <div class="window" style="width: 1290px">
              <div class="title-bar">
                <div class="title-bar-text">Конфигуратор ПК</div>
              </div>
              <div class="window-body">
                <div class="component-container">
                    <div class="component">
                        <div class="component-left">
                            <div class="component-img">
                                <img src="/static/image/component-icons/Processor.png" alt="Иконка">
                            </div>
                            Процессор
                        </div>
                        <button>Добавить</button>
                    </div>
                </div>
                <div class="component-container">
                    <div class="component">
                        <div class="component-left">
                            <div class="component-img">
                                <img src="/static/image/component-icons/Motherboard.png" alt="Иконка">
                            </div>
                            Материнская плата
                        </div>
                        <button>Добавить</button>
                    </div>
                </div>
                <div class="component-container">
                    <div class="component">
                        <div class="component-left">
                            <div class="component-img">
                                <img src="/static/image/component-icons/Power-unit.png" alt="Иконка">
                            </div>
                            Блок питания
                        </div>
                        <button>Добавить</button>
                    </div>
                </div>
                <div class="component-container">
                    <div class="component">
                        <div class="component-left">
                            <div class="component-img">
                                <img src="/static/image/component-icons/pc-case.png" alt="Иконка">
                            </div>
                            Корпус
                        </div>
                        <button>Добавить</button>
                    </div>
                </div>
                <div class="component-container">
                    <div class="component">
                        <div class="component-left">
                            <div class="component-img">
                                <img src="/static/image/component-icons/Video-card.png" alt="Иконка">
                            </div>
                            Видеокарта
                        </div>
                        <button>Добавить</button>
                    </div>
                </div>
                <div class="component-container">
                    <div class="component">
                        <div class="component-left">
                            <div class="component-img">
                                <img src="/static/image/component-icons/CPU-cooling.png" alt="Иконка">
                            </div>
                            Охлаждение процессора
                        </div>
                        <button>Добавить</button>
                    </div>
                </div>
                <div class="component-container">
                    <div class="component">
                        <div class="component-left">
                            <div class="component-img">
                                <img src="/static/image/component-icons/RAM-memory.png" alt="Иконка">
                            </div>
                            Оперативная память
                        </div>
                        <button>Добавить</button>
                    </div>
                </div>
                <div class="component-container">
                    <div class="component">
                        <div class="component-left">
                            <div class="component-img">
                                <img src="/static/image/component-icons/Storage-devices.png" alt="Иконка">
                            </div>
                            Накопители
                        </div>
                        <button>Добавить</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</body>
</html>
