<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Конфигуратор ПК</title>
    <link rel="icon" href="static/image/logo_mini.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/modal.css">
    <link rel="stylesheet" href="/static/css/create-pc.css">
    <link rel="stylesheet" href="https://unpkg.com/xp.css">
</head>
<body>
    <div class="background">
        <div class="banner">
            <div class="banner-content">
             <div class="logo">
                <img src="/static/image/logo.png" alt="Логотип">
            </div>
            <div class="buttons">
                <a href="/main" class="btn">Главная страница</a>
                <a href="/personal-account" class="btn">Личный кабинет</a>
            </div>
            </div>
        </div>
        <div class="windows-container">
            <div class="window" style="width: 1290px">
              <div class="title-bar">
                <div class="title-bar-text">Конфигуратор ПК</div>
              </div>
              <div class="window-body">
                <div class="component-container">
                    <div class="component">
                        <div class="component-left">
                            <div class="component-img">
                                <img src="/static/image/component-icons/Processor.png" alt="Иконка">
                            </div>
                            Процессор
                        </div>
                        <button class="open-modal-btn" data-component="Процессор">Добавить</button>
                    </div>
                </div>
                <div class="component-container">
                    <div class="component">
                        <div class="component-left">
                            <div class="component-img">
                                <img src="/static/image/component-icons/Motherboard.png" alt="Иконка">
                            </div>
                            Материнская плата
                        </div>
                        <button class="open-modal-btn" data-component="Материнская плата">Добавить</button>
                    </div>
                </div>
                <div class="component-container">
                    <div class="component">
                        <div class="component-left">
                            <div class="component-img">
                                <img src="/static/image/component-icons/Power-unit.png" alt="Иконка">
                            </div>
                            Блок питания
                        </div>
                        <button class="open-modal-btn" data-component="Блок питания">Добавить</button>
                    </div>
                </div>
                <div class="component-container">
                    <div class="component">
                        <div class="component-left">
                            <div class="component-img">
                                <img src="/static/image/component-icons/pc-case.png" alt="Иконка">
                            </div>
                            Корпус
                        </div>
                        <button class="open-modal-btn" data-component="Корпус">Добавить</button>
                    </div>
                </div>
                <div class="component-container">
                    <div class="component">
                        <div class="component-left">
                            <div class="component-img">
                                <img src="/static/image/component-icons/Video-card.png" alt="Иконка">
                            </div>
                            Видеокарта
                        </div>
                        <button class="open-modal-btn" data-component="Видеокарта">Добавить</button>
                    </div>
                </div>
                <div class="component-container">
                    <div class="component">
                        <div class="component-left">
                            <div class="component-img">
                                <img src="/static/image/component-icons/CPU-cooling.png" alt="Иконка">
                            </div>
                            Охлаждение процессора
                        </div>
                        <button class="open-modal-btn" data-component="Охлаждение процессора">Добавить</button>
                    </div>
                </div>
                <div class="component-container">
                    <div class="component">
                        <div class="component-left">
                            <div class="component-img">
                                <img src="/static/image/component-icons/RAM-memory.png" alt="Иконка">
                            </div>
                            Оперативная память
                        </div>
                        <button class="open-modal-btn" data-component="Оперативная память">Добавить</button>
                    </div>
                </div>
                <div class="component-container">
                    <div class="component">
                        <div class="component-left">
                            <div class="component-img">
                                <img src="/static/image/component-icons/Storage-devices.png" alt="Иконка">
                            </div>
                            Накопители
                        </div>
                        <button class="open-modal-btn" data-component="Накопители">Добавить</button>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="create-pc-button-container">
            <div class="buttons">
                <a class="btn">Собрать ПК</a>
            </div>
        </div>
    </div>

    <div id="modalOverlay" class="modal-overlay">
        <div class="window" style="width: 1200px">
            <div class="title-bar">
                <div class="title-bar-text" id="modalTitle">Добавить компонент</div>
                <div class="title-bar-controls">
                    <button aria-label="Close" id="closeModal"></button>
                </div>
            </div>
            <div class="window-body">
                <div id="modalContent" style="margin-top: 15px;"></div>
                <div class="field-row" style="justify-content: flex-end; margin-top: 20px;">
                </div>
            </div>
        </div>
    </div>

    <script src="static/modal.js"></script>
</body>
</html>
