<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<div class="background">

<div class="text-center">
    <h1><b class="header">Регистрация</b></h1>
    <form class="centered-registration-form ">
        Email:<br>
    <input type="text" name="email" id="email"><br>
    <p>Имя пользователя:<br>
    <input type="text" name="username" id="username"><br></p>
    <p>Пароль:<br>
    <input type="text" name="password" id="password"><br></p>
    <div class="submit-button">
        <input type="submit" value="Отправить">
    </div>
    </form>
</div>

</div>
</body>
</html>