<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <style>
        body {
            text-align: center;
        }
        form {
            display: inline-block;
            text-align: left;
            background-color: #D3D3D3;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <h1><b>Регистрация</b></h1>
   <form>
  Email:<br>
  <input type="text" name="email" id="email"><br>
  <p>Имя пользователя:<br>
  <input type="text" name="username" id="username"><br></p>
  <p>Пароль:<br>
  <input type="text" name="password" id="password"><br></p>
   </form>
</body>
</html>