<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="icon" href="static/image/logo_mini.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/reg-and-login.css">
    <link rel="stylesheet" href="https://unpkg.com/xp.css">
</head>
<body>
    <div class="background" >
    <div class="centered">
        <h3><b class="header-login">Вход</b></h3>

        <div class="window" style="width: 300px">
        <div class="title-bar">
            <div class="title-bar-text">Окно входа</div>
        </div>
        <div class="registration-form window-body">
            <form id="login-form">
            Логин:<br>
            <input class="big-input" type="text" name="username" id="username" minlength="3" required> <br>
            <p>Пароль:<br>
            <input class="big-input" type="password" name="password" id="password" minlength="6" required><br></p>
            <div class="container-button">
                <a href="/registration" class="register-login-button" id="register">Зарегистрироваться</a>
                <button type="submit" class="register-login-button">Отправить</button>
            </div>
            </form>
        </div>
        </div>
    </div>
    </div>
    <script src="static/js/login.js"></script>
</body>
</html>