<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="icon" href="static/image/logo_mini.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/main-page.css">
    <link rel="stylesheet" href="https://unpkg.com/xp.css">
</head>
<body>
    <div class="background">
        <div class="banner">
            <div class="banner-content">
             <div class="logo">
                <img src="/static/image/logo.png" alt="Логотип">
            </div>
            <div class="buttons">
                <a href="/create-pc" class="btn">Создать ПК</a>
                <a href="/personal-account" class="btn">Личный кабинет</a>
            </div>
            </div>
        </div>
        <div class="windows-container">
            <div class="window" style="width: 400px">
              <div class="title-bar">
                <div class="title-bar-text">A Window With Stuff In It</div>
                <div class="title-bar-controls">
                  <button aria-label="Minimize"></button>
                  <button aria-label="Maximize"></button>
                  <button aria-label="Close"></button>
                </div>
              </div>
              <div class="window-body">
                <p>There's so much room for activities!</p>
              </div>
            </div>

            <div class="window" style="width: 400px">
                <div class="title-bar">
                    <div class="title-bar-text">A Window With Stuff In It</div>
                    <div class="title-bar-controls">
                        <button aria-label="Minimize"></button>
                        <button aria-label="Maximize"></button>
                        <button aria-label="Close"></button>
                    </div>
                </div>
                <div class="window-body">
                    <p>There's so much room for activities!</p>
                </div>
            </div>
            <div class="window" style="width: 400px">
                <div class="title-bar">
                    <div class="title-bar-text">A Window With Stuff In It</div>
                    <div class="title-bar-controls">
                        <button aria-label="Minimize"></button>
                        <button aria-label="Maximize"></button>
                        <button aria-label="Close"></button>
                    </div>
                </div>
                <div class="window-body">
                    <p>There's so much room for activities!</p>
                </div>
            </div>
        <div class="window" style="width: 400px">
              <div class="title-bar">
                <div class="title-bar-text">A Window With Stuff In It</div>
                <div class="title-bar-controls">
                  <button aria-label="Minimize"></button>
                  <button aria-label="Maximize"></button>
                  <button aria-label="Close"></button>
                </div>
              </div>
              <div class="window-body">
                <p>There's so much room for activities!</p>
              </div>
            </div>

            <div class="window" style="width: 400px">
                <div class="title-bar">
                    <div class="title-bar-text">A Window With Stuff In It</div>
                    <div class="title-bar-controls">
                        <button aria-label="Minimize"></button>
                        <button aria-label="Maximize"></button>
                        <button aria-label="Close"></button>
                    </div>
                </div>
                <div class="window-body">
                    <p>There's so much room for activities!</p>
                </div>
            </div>
            <div class="window" style="width: 400px">
                <div class="title-bar">
                    <div class="title-bar-text">A Window With Stuff In It</div>
                    <div class="title-bar-controls">
                        <button aria-label="Minimize"></button>
                        <button aria-label="Maximize"></button>
                        <button aria-label="Close"></button>
                    </div>
                </div>
                <div class="window-body">
                    <p>There's so much room for activities!</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>