<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="icon" href="static/image/logo_mini.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/main-page.css">
    <link rel="stylesheet" href="https://unpkg.com/xp.css">
</head>
<body>
    <div class="background">
        <div class="banner">
            <div class="banner-content">
             <div class="logo">
                <img src="/static/image/logo.png" alt="Логотип">
            </div>
            <div class="buttons">
                <a href="/pc_assembly" class="btn">Собрать ПК</a>
                <a href="/personal_account" class="btn">Личный кабинет</a>
            </div>
            </div>
        </div>
        <div class="windows-container">
            <div class="window" style="width: 1290px">
              <div class="title-bar">
                <div class="title-bar-text">Добро пожаловать на сайт!</div>
              </div>
              <div class="window-body">
                <div class="info-card">
                    <div class="info-image">
                        <img src="/static/image/main_image.jpg"
                             alt="VibeCore">
                    </div>
                    <div class="info-text">
                        <h2>VibeCore</h2>
                        <p><strong>VibeCore</strong> — это удобное веб-приложение для сборки персонального компьютера с автоматической проверкой совместимости комплектующих, мониторингом актуальных цен и расчетом итоговой стоимости.</p>
                        <p>Приложение позволяет выбирать <strong>процессор, материнскую плату, видеокарту, память, накопители</strong> и другие компоненты из обширной базы данных с реальными характеристиками.</p>
                        <p>Система мгновенно проверяет совместимость <strong>(сокет, слоты, питание)</strong>, предупреждая о проблемах и предлагая альтернативы.</p>
                        <a href="https://github.com/vilsayka/web_client"><strong>Github</strong></a>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</body>
</html>