<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет</title>
    <link rel="icon" href="static/image/logo_mini.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/PA.css">
    <link rel="stylesheet" href="https://unpkg.com/xp.css">
</head>
<body>
    <div class="background">
        <div class="banner">
            <div class="banner-content">
             <div class="logo">
                <img src="/static/image/logo.png" alt="Логотип">
            </div>
            <div class="buttons">
                <a href="/pc_assembly" class="btn">Собрать ПК</a>
                <a href="/main_user" class="btn">Главная страница</a>
            </div>
            </div>
        </div>
        <div class="windows-container">
            <div class="window" style="width: 700px">
                  <div class="title-bar">
                    <div class="title-bar-text">Это Вы!</div>
                  </div>
                  <div class="window-body">
                    <div class="profile-container">
                        <img src="/static/image/profile_picture.gif" alt="Аватар пользователя" class="profile-image">
                        <div class="profile-info">
                            <span class="profile-username"></span>
                            <span class="profile-role"></span>
                        </div>
                    </div>
                  </div>
            </div>
        </div>

    </div>
    <script src="/static/js/profile.js"></script>
</body>
</html>