<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="icon" href="static/image/logo_mini.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/xp.css">
</head>
<body>
    <div class="background" >
    <div class="centered">
        <h3><b class="header">Регистрация</b></h3>

        <div class="window" style="width: 300px">
        <div class="title-bar">
            <div class="title-bar-text">Окно регистрации</div>
        </div>
        <div class="registration-form window-body">
            <form>
            Логин:<br>
            <input class="big-input" type="text" name="login" id="login" minlength="6" required> <br>
            <p>Пароль:<br>
            <input class="big-input" type="password" name="password" id="password" minlength="6" required><br></p>
            <div class="submit-button">
            <input type="submit" value="Отправить">
            </div>
            </form>
        </div>
        </div>
    </div>
    </div>

    <script src="static/registration.js"></script>
</body>
</html>